@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Do+Hyeon&family=Dongle&family=Gothic+A1&family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Stylish&family=Sunflower:wght@500&display=swap');
*{
    font-family: "Noto Sans KR", sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container h1{
    font-size: 80px;
}
.col {
    padding: 10px;
}
ul{
    list-style:none;
}
h1 img {
    margin: 10px;
    width: 10%;
    height: auto;
}
/* 2*2배너 */

.banner {
padding: 20px;
}

.grid-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
}

.bannerContainer {
position: relative;
overflow: hidden;
}

.bannerContainer img {
width: 100%;
height: auto;
object-fit: cover;
}

.bannerText {
position: absolute;
bottom: 20px;
left: 20px;
color: #fff;
}

.bannerText p {
font-size: 16px;
margin: 0;
}

.bannerText b {
font-size: 24px;
margin: 0;
}

.bannerContainer:hover {
transform: scale(1.05);
}

.bannerContainer:hover .bannerText {
bottom: 30px;
}

footer {
    /* background-color: #333; */
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    text-align: right;
    width: 4%;
    border-radius: 10px;
    position: fixed;
    bottom: 8px;
    right: 16px;
    background: black;
    opacity: 0.8;
    text-align: center;
}

footer a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}
/* 3*1배너 */
.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.bannerContainer2 {
    position: relative;
}

.bannerTxt2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.bannerTxt2 p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.bannerTxt2 b {
    display: block;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 5px;
}
.bannerContainer2 img {
    max-width: 100%;
    height: auto;
}

video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
