@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Do+Hyeon&family=Dongle&family=Gothic+A1&family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Stylish&family=Sunflower:wght@500&display=swap');

span{
    color: red;
}
*{
    font-family: "Noto Sans KR", sans-serif;
    scroll-behavior: smooth;
}
h3{
    margin: 20px;
    padding: 20px;
}
ul{
    list-style:none;
}
/* .container {
    height: 100%;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#id{
    width: 30%;
} */

.btn1{
    text-align: center;
    width: 9.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:0px;
}

.btn2{
    text-align: center;
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:0px;
}


.container {
    height: 100%;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#id{
    width: 30%;
}

span {
    display: block;
    color: red;
    margin-top: 5px;
}
